<div class="row">
    <p>Kontakt os her på siden og du vil snart høre fra os!</p>

    <div class="col-md-12">
        <form id="kontaktForm" method="post" action="/kontakt" onSubmit="return formularValidering(this);">
            <div class="form-group">
                <label for="forNavn">Fornavn:</label>
                <input id="forNavn" class="form-control input-lg" type="text" name="fornavn" placeholder="Skriv dit fornavn" value="<%= fornavn %>">
                <small id="fornavnHelp" class="form-text text-muted attention"></small>
            </div>
            <div class="form-group">
                <label for="efterNavn">Efternavn:</label>
                <input id="efterNavn" class="form-control input-lg" type="text" name="efternavn" placeholder="Skriv dit efternavn" value="<%= efternavn %>">
                <small id="efternavnHelp" class="form-text text-muted attention"></small>
            </div>
            <div class="form-group">
                <label for="telefonNummer">Telefon nummer:</label>
                <input id="telefonNummer" class="form-control input-lg" type="tel" name="telefon" placeholder="Skriv dit telefon nummer"
                    value="<%= telefon %>">
                <small id="telefonHelp" class="form-text text-muted attention"></small>
            </div>
            <div class="form-group">
                <label for="eMail">Mail:</label>
                <input id="eMail" class="form-control input-lg" type="text" name="mail" placeholder="Skriv din mail adresse" value="<%= mail %>">
                <small id="emailHelp" class="form-text text-muted attention"></small>
            </div>
            <div class="form-group">
                <label for="emne">Emne:</label>
                <input id="emne" class="form-control input-lg" type="emnet" name="emne" placeholder="Skriv dit emne" value="<%= emne %>"></input>
                <small id="emneHelp" class="form-text text-muted attention"></small>
            </div>
            <div class="form-group">
                <label for="besked">Besked:</label>
                <textarea id="besked" class="form-control input-lg" name="besked" placeholder="Skriv din besked"><%= besked %></textarea>
                <small id="beskedHelp" class="form-text text-muted attention"></small>
            </div>
            <button id="submitKnap" class="btn btn-primary" type="submit" name="sendKnap" value="Send">Send besked</button>
            <% if(typeof formBesked !== 'undefined' && formBesked !== ''){ %>
                <div>
                    <p>
                        <%= formBesked %>
                    </p>
                </div>
                <% } %>
        </form>
        <!-- Kontakt formular -->
    </div>
</div>

<script>

    document.addEventListener('DOMContentLoaded', () => {
        // Der er ingen fejl i nedstående funktion - det er blot ejs som har svært ved at tyde parametret
        if (<%= validerMedDetSamme %>) {
        var form = document.querySelector('#kontaktForm');
        formularValidering(form);
    }
    });
</script>
